.brown{
    background-color: brown;
    height: 2cm;
    color: white;
    text-align: right;
    font-size: x-large;
    word-spacing: 30px;
}
    
   a:hover {
  background-color: rgb(26, 26, 109);
  }

.grey{
    background-color: rgb(60, 60, 60);
    height: 10cm;
    font-size: .85cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 5cm;
   
      }
.blue{
    background-color: rgb(6, 53, 92);
    height: 35cm;
    font-size: 1.0cm;
    text-align: center;
    padding-top: 5cm;
    color: white;

  }
  .grid {
      display: grid;
      grid-template-columns: auto auto auto;
      margin-top: 40px;
      margin-left:  100px;
      margin-right:100px;
      grid-gap: 60px;
      
     
    }
    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      margin-top: 2px;
      padding: 150px;
      font-size: 30px;
      text-align: center;
      color: black;
     }
    
  
    .lowergrey{
      color: white;
      font-size: xx-large;  
      background-color: rgb(60, 60, 60);
         
   }
   .footer {
    position: fixed;
    background-color: red;
    color: white;
    text-align: center;
    height: 8cm;
   }