
   

    body {
        background-color: lightblue;
        background-origin: padding-box;
        background-image: url(./Aristotle_Onassis.jfif);
        background-repeat: no-repeat;
        background-position: right top;
        
      }
      
      h1 {
        color: blueviolet;
        text-align: center;
      }
      
      p {
        font-family: verdana;
        font-size: 20px;
        text-align: justify;
      }
        
      .test {
        color: brown;
        /*background:border: 30px;
      }

      .test1{
        color: forestgreen;
        text-indent: 0fr;
      }
        #myHeader {
          background-color: lightblue;
          color: black;
          padding: 40px;
          text-align: center;
